<div class="container-fluid main-body">
  <div class="row">
    {{> navbar}}

  <main class="col-md-12 content main-content">
    <h2 class="text-center text-orange mb-4">
      <i class="fa-brands fa-product-hunt"></i> Danh Sách Thương Hiệu
    </h2>

    <div class="card shadow">
      <div class="card-header">
       <h5 class="mb-0"><i class="fas fa-receipt me-2"></i> Danh Sách Danh Mục</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="text-center">
                <th>STT</th>
                <th>Tên thương hiệu</th>
                <th>Mô tả</th>
                <th>Link logo</th>
              </tr>
            </thead>
            <tbody>
              {{#each brands}}
                <tr class="product-row" data-id="{{this._id}}">
                  <td class="text-center">{{inc @index}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.description}}</td>
                  <td>{{this.logo}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>           
      </div>
    </div>
  </main>
  </div>
</div>

<style>
  .product-row {
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }

  .product-row:hover {
    background-color: #f8f9fa;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const rows = document.querySelectorAll('.product-row');

    rows.forEach(row => {
      row.addEventListener('click', function() {
        const id = row.getAttribute('data-id');
        window.location.href = `/brand/id=${id}`;
      });
    });
  });
</script>