<div class="container-fluid main-body">
    <div class="row">
        {{> navbar}}

        <main class="col-md-12 content main-content">
            <div class="container">
                <h1 class="text-center mb-4 text-orange">Chi Tiết Danh Mục</h1>
                <div class="card border-orange">
                    <div class="card-body">
                        <form action="/brand/update/{{brand._id}}" method="POST">
                            
                            {{!-- Tên danh mục --}}
                            <div class="mb-3">
                                <label for="name" class="form-label">Tên thương hiệu</label>
                                <input id="name" name="name" class="form-control" type="text" value="{{brand.name}}">
                            </div>

                            {{!-- Mô tả --}}
                            <div class="mb-3">
                                <label for="description" class="form-label">Mô tả</label>
                                <textarea id="description" name="description" class="form-control" type="text">{{brand.description}}</textarea>
                            </div>

                            {{!-- Logo  --}}
                            <div class="mb-3">
                                <label for="logo" class="form-label">Link logo</label>
                                <textarea id="logo" name="logo" class="form-control" type="text" required>{{brand.logo}}</textarea>
                            </div>

                            {{!-- Nút xóa và nút cập nhật--}}
                            <div class="d-flex justify-content-end">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                    Xóa
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Xóa Thương Hiệu</h5>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc chắn muốn xóa thương hiệu này không?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                            <a href="/brand/delete/{{brand._id}}" class="btn btn-danger text-white">Xóa</a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>